* {
  padding: 0px;
  margin: 0px;
}
img {
  width: 200px;
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
}
header {
  margin: 10px;
  width: 60%;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  background: fixed;
  border-radius: 20px;
  background:#CAF4FF;
  box-shadow:1px 1px 20px  blue;
}
.name {
  margin-left: 5%;
  text-shadow:1px 1px 1px whitesmoke;

}
header a {
  display: flex;
  text-decoration: none;
  font-family: cursive;
  font-size: x-large;
  margin: 30px;
  font-weight: bold;
}
body {
  display: flex;
  overflow: hidden;
}
.main1{
  height: 100vh;
  overflow: scroll;
  scroll-behavior: smooth;
  margin: 10px;
  border-radius: 20px;
  background:#CAF4FF;
  box-shadow:1px 1px 20px blue;
}
#about {
  font-family: cursive;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-top: 20px;
  color:blue;
}
.abouttext {
  margin: 10px 30px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  box-shadow: 1px 1px 10px white;
  background: linear-gradient(rgb(185, 222, 237), white);
}
#education {
  font-family: cursive;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-top: 20px;
  color: blue;
}
.gtext {
  margin: 10px 30px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  box-shadow: 1px 1px 10px white;
  background: linear-gradient(rgb(185, 222, 237), white);
}
.graduation {
  margin: 10px 30px;
  text-align: center;
}
.Intermediate {
  margin: 10px 30px;
  text-align: center;
}
.itext {
  margin: 10px 30px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  box-shadow: 1px 1px 10px white;
  background: linear-gradient(rgb(185, 222, 237), white);
}
.ssc {
  margin: 10px 30px;
  text-align: center;
}
.stext {
  margin: 10px 30px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  box-shadow: 1px 1px 10px white;
  background: linear-gradient(rgb(185, 222, 237), white);
}
#projects {
  font-family: cursive;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-top: 20px;
  color: blue;
}
.wed {
  margin: 10px 30px;
  text-align: center;
}
.ptext {
  margin: 10px 30px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  border-radius: 20px;
  background: linear-gradient(rgb(151, 207, 231), white);
}
#skills {
  font-family: cursive;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-top: 20px;
  color: blue;
}
i {
  margin-left: 80px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.java {
  display: flex;
  object-fit: cover;
}
.java1 {
  padding: 20px;
  font-size: large;
}
#cv {
  font-family: cursive;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-top: 20px;
  color: blue;
}
.click {
  display: flex;
  justify-content: center;
  color: black;
  margin: 20px;
}
a {
  text-decoration: none;
}
#file {
  display: flex;
  justify-content: center;
  color: black;
  margin: 20px;
}
#contact {
  font-family: cursive;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-top: 20px;
  color: blue;
}
.link {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.link a {
  margin-left: 30px;
  margin-right: 30px;
}
